<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>اضافة رخصة</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
    <link rel="icon" href="{% static 'images\COA.png' %}" />
  </head>
  <body>
    <div class="header">
      <a href="/home">
        <img class="logo" src="{% static 'images\logo.png' %}" alt="Logo" />
      </a>
      <h1 class="title">تطــبيقية تدبـير الـرخــص</h1>
    </div>
    <div class="navbar">
      {% if request.user.employee.isAdmin %}
      <ul>
        <li><a href="/admin_home">الصفحة الرئيسية</a></li>
        <li><a href="/add_leave"> اضافة رخصة </a></li>
        <li><a href="/my_leaves"> رخصي </a></li>
        <li><a href="/all_employees"> لائحة الموظفين </a></li>
        <li><a href="/add_department"> تدبير الشعب </a></li>
        <li><a href="/manage_holidays"> تدبير العطل </a></li>
        <li><a href="/search"> البحث </a></li>
      </ul>
      <ul>
        <li class="username">{{ request.user.get_full_name }}</li>
      </ul>
      {% else %}
      <ul>
        <li><a href="/home">الصفحة الرئيسية</a></li>
        <li><a href="/my_leaves"> رخصي </a></li>
        <li><a href="/add_leave"> اضافة رخصة </a></li>
      </ul>
      <ul>
        <li class="username">{{ request.user.get_full_name }}</li>
      </ul>
      {% endif %}
    </div>
    <div class="body">
  <main>
    {% if error %}
    <p class="warning">{{ error }}</p>
    {% endif %} {% if success_message %}
    <p class="success-message">{{ success_message }}</p>
    {% endif %}
  {% if messages %}
    {% for message in messages %}
        <div class="success-message">
            {{ message }}
        <br>
        </div>
    {% endfor %}
  {% endif %}
    <form method="post" action="{% url 'add_leave' %}">
      {% csrf_token %}
      <label for="username">الاسم الكامل  : </label>
      <input
        type="text"
        id="full_name"
        name="full_name"
        value="{{ employee.full_name }}"
        readonly
      />
      <label for="username">رقم التأجير : </label>
      <input
        type="text"
        id="username"
        name="username"
        value="{{ employee.username.username }}"
        readonly
      />
      <label for="leaveDate">تاريخ بداية الرخصة :</label> <br />
      <input
        type="date"
        id="leaveDate"
        name="leaveDate"
        required
        oninvalid="this.setCustomValidity(' المرجو ادخال تاريخ بداية الرخصة  ')"
      /><br />
      <label for="duration">المدة :</label>
      <input type="number" required id="duration" name="duration">
      <button type="submit">اضافة الرخصة</button>
    </form>
  </main>
</div>
    <div class="footer">
      <p class="copyright"> BEXXISSAM - 2024 </p>
    </div>
  </body>
</html>
