<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>تعديل عطلة</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
    <link rel="icon" href="{% static 'images\COA.png' %}" />
  </head>

  <div class="header">
    {% if request.user.employee.isAdmin %}
    <a href="\admin_home">
      <img class="logo" src="{% static 'images\logo.png' %}" alt="Logo" />
    </a>
    {% else %}
    <a href="\home">
      <img class="logo" src="{% static 'images\logo.png' %}" alt="Logo" />
    </a>
    {% endif %}
    <h1 class="title">تطــبيقية تدبـير الـرخــص</h1>
  </div>
  <div class="navbar">
    {% if request.user.employee.isAdmin %}
    <ul>
      <li><a href="/admin_home">الصفحة الرئيسية</a></li>
      <li><a href="/add_leave"> اضافة رخصة </a></li>
      <li><a href="/my_leaves"> رخصي </a></li>
      <li><a href="/all_employees"> لائحة الموظفين </a></li>
      <li><a href="/add_department"> تدبير الشعب </a></li>
      <li><a href="/manage_holidays"> تدبير العطل </a></li>
      <li><a href="/search"> البحث </a></li>
    </ul>
    <ul>
      <li class="username">{{ request.user.get_full_name }}</li>
    </ul>
    {% else %}
    <ul>
      <li><a href="/home">الصفحة الرئيسية</a></li>
      <li><a href="/my_leaves"> رخصي </a></li>
      <li><a href="/add_leave"> اضافة رخصة </a></li>
    </ul>
    <ul>
      <li class="username">{{ request.user.get_full_name }}</li>
    </ul>
    {% endif %}
  </div>
  <div class="body">
    <main>
      <h2>تعديل عطلة</h2>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ holiday.id }}" />
        <label for="name">الاسم : </label>
        <input
          id="name"
          name="name"
          type="text"
          value="{{ holiday.name }}"
          required
        />
        <label for="starting_date">تاريخ البداية : </label>
        <input
          id="starting_date"
          name="starting_date"
          type="date"
          value="{{ holiday.holidayStartingDay }}"
          required
        />
        <label for="duration">المدة : </label><br />
        <input
          id="duration"
          name="duration"
          type="number"
          value="{{ holiday.duration }}"
          required
        />
        <button type="submit">حفظ التعديلات</button>
        <button class="delete_button">
          <a href="{% url 'delete_holiday' holiday.id %}">حذف العطلة</a>
        </button>
      </form>
    </main>
    <div class="footer">
      <p class="copyright"> BEXXISSAM - 2024 </p>
    </div>
  </div>
</html>
