<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الصفحة الرئيسية</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'home.css' %}">
</head>
<body>
<div class="header">
    <a href="/home">
        <img class="logo" src="https://i.ibb.co/8DJ8bMS/logo.png" alt="Logo">
    </a>
    <h1 class="title">تطــبيقية تدبـير الـرخــص</h1>
</div>
        <div class="navbar">
            <ul>
                <li><a href="/add_employee"> اضافة موظف </a></li>
                <li><a href="/add_department"> تدبير الشعب </a></li>
                <li><a href="/add_leave"> اضافة رخصة </a></li>
            </ul>
            <ul>
                <li class="username">{{ request.user.get_full_name }}</li>
            </ul>
        </div>
<div class="body">
    <table>
        <tr>
            <th>الموظف</th>
            <th>رقم التاجير</th>
        </tr>
        {% for employee in employees  %}
        <tr>
            <td>{{ employee.username.get_full_name }}</td>
            <td>{{ employee.username }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="footer">
    <p class="copyright">وزارة العدل - محكمة الاستئناف العيون</p>
</div>
</body>
</html>
