<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>رخصي</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
        <link rel="icon" href="{% static 'images\COA.png' %}">
    </head>
    <body>
        <div class="header">
            <a href="/home">
                <img class="logo" src="{% static 'images\logo.png' %}" alt="Logo">
            </a>
            <h1 class="title">تطــبيقية تدبـير الـرخــص</h1>
        </div>
        <div class="navbar">
        {% if request.user.employee.isAdmin %}
                <ul>
                    <li><a href="/admin_home">الصفحة الرئيسية</a></li>
                    <li><a href="/add_leave"> اضافة رخصة </a></li>
                    <li><a href="/my_leaves"> رخصي </a></li>
                    <li><a href="/all_employees"> لائحة الموظفين </a></li>
                    <li><a href="/add_department"> تدبير الشعب </a></li>
                    <li><a href="/manage_holidays"> تدبير العطل </a></li>
                    <li><a href="/search"> البحث </a> </li>
                </ul>
                <ul>
                    <li class="username">{{ request.user.get_full_name }}</li>
                </ul>
        {% else %}
                <ul>
                    <li><a href="/home">الصفحة الرئيسية</a></li>
                    <li><a href="/my_leaves"> رخصي </a></li>
                    <li><a href="/add_leave"> اضافة رخصة </a></li>
                </ul>
                <ul>
                    <li class="username">{{ request.user.get_full_name }}</li>
                </ul>
        {% endif %}
        </div>
        <div class="body">
            <main>
                <h1 class="sub_title">رخص الموظف {{ request.user.get_full_name }} : </h1>
                <table>
                    <tr>
                        <th>تاريخ بداية الرخصة</th>
                        <th>تاريخ نهاية الرخصة</th>
                        <th>المدة</th>
                        <th></th>
                    </tr>
                    {% for leave in leaves %}
                    <tr>
                        <td>{{ leave.leaveDate|date:'d/m/Y' }}</td>
                        <td>{{ leave.endOfLeave|date:'d/m/Y' }}</td>
                        <td>{{ leave.duration }} يوم</td>
                        <td><a href="{% url 'edit_leave' leave.id %}">تغيير تاريخ الرخصة</a></td>
                        {% if leave.isDelayed %}
                            <td> تاريخ الرخصة تم تغييره </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </main>
        </div>
        <div class="footer">
            <p class="copyright">وزارة العدل - محكمة الاستئناف العيون</p>
        </div>
    </body>
</html>
