body {
    font-family: Arabswell, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f9fa;
}

.title {
    font-family: Arabswell, sans-serif;
}

.header {
    font-family: Arabswell, sans-serif;
    background-color: white;
    padding: 1% 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 250px;
    height: auto;
}

.footer {
    font-family: Rubik;
    color: white;
    background-color: #c0272c;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.add_leave {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.navbar {
    background-color: #c0272c;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-left: 20px; /* Adjust margin as needed */
}

.navbar li a {
    text-decoration: none;
    color: #FFF; /* Adjust color as needed */
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

main form {
    font-family: Rubik, serif;
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: right;
    padding-bottom: 1.5%;

}

main input[type="name"],
main input[type="text"],
main input[type="password"],
main input[type="button"],
main button,
main input[type="date"],
select {
    font-family: Rubik, serif;
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

main button {
    background-color: #c0272c;
    color: white;
}

.warning{
    color: #ff1c00;
}

.success-message{
    color: #00ff57;
}

@font-face {
    font-family: Arabswell;
    src: url(fonts/arabswell.ttf);
}

@font-face {
    font-family: Rubik;
    src: url(fonts/Rubik.ttf);
}
