body {
    font-family: Arabswell, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f9fa;
}

.title {
    font-family: Arabswell, sans-serif;
}

div .pagination{
    font-family: Rubik, serif;
}

.header {
    font-family: Arabswell, sans-serif;
    background-color: white;
    padding: 1% 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 250px;
    height: auto;
}

#delete_button{
    background-color: #ff1c00 !important;;
    color: #f8f9fa !important;;
}
#add_employee{
    max-width: 15% !important;
}
.footer {
    font-family: Rubik;
    color: white;
    background-color: #c0272c;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.username {
    float: left;
}

.body {
    padding-top: 1.5%;
    padding-bottom: 10%;
}

.content{
    text-align: center;
    font-family: Rubik, serif ;
}
table {
    font-family: Rubik, serif;
    width: 90%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.table-container {
    margin: 0 auto;
}
.body td {
    padding: 10px;
    border: 1px solid #ced4da;
    text-align: center; /* Center text in cells */
}

.navbar {
    background-color: #c0272c;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-left: 20px; /* Adjust margin as needed */
}

.navbar li a {
    text-decoration: none;
    color: #FFF; /* Adjust color as needed */
}

main form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: right;
}

main input[type="name"],
main input[type="text"],
main input[type="password"],
main input[type="button"],
main input[type="number"],
main button,
main input[type="date"],
select {
    font-family: Rubik, serif;
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

main button {
    background-color: #c0272c;
    color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    width: 18%;
}
.sub_title{
    margin-right: 5%;
    text-align: right;
    font-family: Rubik, serif;
}
th {
    background-color: #f2f2f2; /* Background color for headers */
    font-weight: bold;
}

.add_holiday{
    width: 50%;
    margin: auto;
}

@font-face {
    font-family: Arabswell;
    src: url(fonts/arabswell.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(fonts/Rubik.ttf);
}
